@import "bootstrap";
@import 'mixins.scss';
@import "navigation";
@import "typography";
@import "buttons";

html {
  scroll-behavior: smooth;
}
.jumbotron-fluid {
  margin: 0;
}
.jumbotron.dark {
  background-color: $brand-black;
  background-image: url("~/assets/images/hero3.png");
  background-position: center 70%;
  background-repeat: no-repeat;
  background-size: cover;
  h1,h2,h3,h4,h5,h6,p,a:not(.btn){
    color: white;
  }
}
.brand-pattern-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("~/assets/images/hero3.png");
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-transform: skew(-45deg, 0deg);
  -ms-transform: skew(-45deg, 0deg);
  transform: skew(-45deg, 0deg);
}

.gravatar {
  border-radius: 50%;
  height:140px;
  width:140px;
  margin-top: 10px;
  display: block;
  background: url('https://s.gravatar.com/avatar/e19387847005ca3f652b3176c370b4d1?s=280') no-repeat center center;
  background-size: 100%;
  transition: transform 250ms ease-in-out;
  transform: scale(.95);

  &:hover {
    transform: scale(1);
  }
}
.gravatar.large {
  width: 200px;
  height: 200px;
  padding: 100px;
  box-shadow: 0 0 0 5px $primary;
  @include media-breakpoint-down(xs) {
    width: 100px;
    height: 100px;
  }
}

// ********* My Process *********
#my-process {
  .flexbox-container {
    height: 260px;
    color: white;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
    }

    h4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      margin: 0;
    }

    .btn {
      margin-left: $space-semi;
    }
  }
}


//*********** Featured Project ***********
.project--fullwidth {
  background: #333;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;

  .project-title, li, p {
    color: #fff;
  }

  .project-title {
    font-weight: 800;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
  }

  .project-tags {
    list-style: none;
    padding: 0;

    li {
      display: inline;
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
      opacity: 0.4;

      &:not(:first-child) {
        padding-left: 4px;

        &::before {
          padding-right: 8px;
        }
      }
    }
  }

  .project-text {
    margin-bottom: $space-semi;
  }
}





// OTHER CSS FLOATING IMAGE
.project--image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;

  img {
    display: block;
    width: 100%;
  }
}

.grid-overflow {
  float: right;
  overflow: hidden;
}

//************ Icon Fonts *********
.mobile-menu {
  .icon {
    &:before {
      font-size: 40px;
    }
  }
}
/* FLEXBOX */
.flexbox-container {
  display: flex;
  display:-webkit-flex;
  display:-ms-flexbox;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  &.flexbox-links {
    background-color: $brand-black;

    .flex-link {
      max-width: 550px;
      max-height: 550px;
      &:hover {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0.30;
        -moz-opacity: 30%;
        -webkit-opacity: 30%;
        z-index: 2;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }

  .flex-link {
    display:-webkit-flex;
    display:-ms-flexbox;
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;

    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;

    @extend %transition-fade-in;

    &:hover {
      @extend %transition-fade-in;
    }

    &.flex-text-left {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }

    &.flex-text-right {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }

    &:focus {
      text-decoration: none;
    }
  }

  &.content--menu {
    border-top: 1px solid #f2f2f2;

    .flex-link {
      padding: 70px 0;
      background: white;

      &:hover {
        background: #f2f2f2;
        text-decoration: none;
        color: $brand-action-secondary;
        @extend %transition-fade-in;
      }
      &.nuxt-link-active {
        border-bottom: solid 6px $secondary;
        color: $secondary;
        @extend %transition-fade-in;
      }

      &.hasArrow {
        &.__right::after, 
        &.__left::before {
          font-size: 22px;
          top: 2px;
        }
        &.__right {
          &::after {
            left: -9px;
          }
          &:hover::after {
            left: 8px;
          }
        }
        &.__left {
          &::before {
            right: -9px;
          }
          &:hover::before {
            right: 8px;
          }
        }
      }

      

      &:focus {
        text-decoration: none;
      }
    }

    span, i {
      line-height: 0;
    }

    span {
      padding: 0 20px;
      font-family: $font-family-sans-serif;
      margin-top: 2px;
    }

    i {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      font-size: 28px;
    }
  }

  .box {
    list-style: none;

    width: 40px;
    height: 100px;

    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;

    align-items: center;
    justify-content: center;
  }

  .box:first-child,
  .box:last-child {
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;

    div {
      display:-webkit-box;
      display:-webkit-flex;
      display:-ms-flexbox;
      display: flex;

      height: inherit;
      align-items: center;
      justify-content: center;

      i {
        color: white;
      }
    }
  }
}

//********* PROCESS STEPS *********
.bg--gray {
  background: #F9F9F9;
}

.content--container {
  h3, .content--step-title {
    font-weight: 700;

    small {
      text-transform: uppercase;
    }
  }

  h4,h5 {
    font-weight: 600;
  }

  .content--step-subtext {
    color: $brand-primary;
  }

  .content--icon {
    font-size: 7rem;
    text-align: center;
    display: block;
    opacity: 0.2;
  }

  .content--tools,
  .content--tools ul {
    margin-top: 20px;
    padding-left: 10px;
    color: $gray-light;
    font-size: 0.85rem;

    li {
      list-style: none;
      line-height: $space-semi;
    }

    li:before {
      content:"·";
      font-size:45px;
      vertical-align:middle;
      margin-right: 15px;
    }
  }

  .content--images {
    margin-top: $space-xlarge;

    @include media-breakpoint-down(sm) { 
      img {
        margin-bottom: 36px;
      }
    }
  }
}


//********* Project *********
.has-overlay {
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
}

.introduction {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.8;
  padding: 80px 0;
  text-align: center;
  font-family: "Merriweather";
}

.featured-image {
  margin: 60px auto 0;
}

.content--summary {
  padding-bottom: 40px;
}

.content--container,
.cms-editable {
  padding-top: 64px;
  padding-bottom: 64px;
}

.content--title {
  font-weight: 600;

  &:not(:first-child) {
    margin-top: 50px;
  }
}

.cms-editable {
  display: block;
  text-align: center;

  img {
    margin: 0 auto; padding-bottom: 40px;
  }

  h1,h2,h3,h4,h5,h6,p {
    padding-bottom: 20px;
  }
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba($brand-black, 0.97);
  overflow-y: hidden;
  transition: 0.5s;

  a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  a:hover,
  a:focus {
    color: #f1f1f1;
  }

  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .form-group {
    input, textarea {
      background: $brand-black-light;
      color: snow;
      border: none;
      width: 100%;
      border-radius: 40px;
      padding: 15px 25px;
    }

    textarea {
      height: 170px;
    }
  }
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  h4 {
    color: white;
  }
  form {
    margin: 0 auto;
    width: 500px;
    text-align: center;
  }
}

#success-message {
  margin: 0 auto;
  width: 500px;
  display: none;
}


@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


@import "media-queries";